<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>microservice-dashboard</contextName> 
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="be.ordina.msdashboard" level="DEBUG"/>
    <logger name="org.springframework.cloud.netflix" level="DEBUG"/>
	<jmxConfigurator/>
</configuration>